[Trace]
ConfigVer=100          
ColumnCount=14            
ColumnName.0=#            
ColumnFormat.0=0            
ColumnWidth.0=17           
ColumnName.1=ITM            
ColumnFormat.1=0            
ColumnWidth.1=4            
ColumnName.2=ITMPar            
ColumnFormat.2=0            
ColumnWidth.2=4            
ColumnName.3=PC            
ColumnFormat.3=0            
ColumnWidth.3=8            
ColumnName.4=Excpt            
ColumnFormat.4=0            
ColumnWidth.4=3            
ColumnName.5=Disas            
ColumnFormat.5=0            
ColumnWidth.5=25            
ColumnName.6=Source            
ColumnFormat.6=0            
ColumnWidth.6=25            
ColumnName.7=TStamp            
ColumnFormat.7=131072            
ColumnWidth.7=21            
ColumnName.8=MemAddr            
ColumnFormat.8=0            
ColumnWidth.8=8            
ColumnName.9=RdWr            
ColumnFormat.9=0            
ColumnWidth.9=1            
ColumnName.10=MemData            
ColumnFormat.10=0            
ColumnWidth.10=8            
ColumnName.11=DataAcc            
ColumnFormat.11=0            
ColumnWidth.11=1            
ColumnName.12=SyncCode            
ColumnFormat.12=0            
ColumnWidth.12=1            
ColumnName.13=CpuMode            
ColumnFormat.13=0            
ColumnWidth.13=1            
TraceMDI-Pos=FCFFFFFFE2FFFFFF4E0400009B010000            
TraceMDI-InitShow=3            

[JETM]
etmctrl0=0            
etmctrl1=262144            
etmctrl2=131072            
etmctrl3=4008            
etmctrl4=4            
etmctrl5=11            
etmctrl6=34            
etmcmd0=etm pc=all            
etmcmd1=etm data=none            
etmcmd2=etm portsize=4            
etmcmd3=etm halfrate=on            
etmcmd4=macro /none            
etmcmdcount=5            

[UJETM]
BoardFile=/none            

[UV3]
TraceWinPlacement=2C0000000000000001000000FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF670000001C000000B9040000D5010000            
